* {
	background-color: #bbbbee;
	color: #413932;
}

nav ul li {
	display: inline;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.content div {
	margin-left: auto;
	margin-right: auto;
}

h3 {
	background-color: #aaaadd;
	color: #f44d27;
}

.content div p, span:nth-child(odd) {
	background-color: #ccccff;
}

.bold {
	font-weight: bold;
}

span {
	font-style: italic;
}
