/* All Elements*/
/*================================*/
* {
	background-color: #bbbbee;
	color: #413932;
}

/* Header and Footer*/
/*================================*/
header, footer {
	text-align: center;
}

/* Header*/
/*================================*/
h2 {
	margin-bottom: 0px;
}

nav {
	margin-top: 3px;
	margin-bottom: 10px;
}

/* Main content*/
/*================================*/
h3 {
	background-color: #aaaadd;
	color: #f44d27;
	padding: 4px;
	border-radius: 5px 5px 0px 0px;
	margin-bottom: 2px;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.content div {
	margin-left: auto;
	margin-right: auto;
}

.content div p:nth-child(odd), .content div p:nth-child(odd) span {
	background-color: #ccccff;
}

.content div p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2px;
}

/* Bold and italic elements */
/* Didn't use <b> and <em> to prevent background-color changing */
/*================================*/
.bold {
	font-weight: bold;
}

span {
	font-style: italic;
}
